
<%_ var title = pageTitle + "INSERT TITLE"; _%>
<%_ var url = "INSERT URL" + route _%>

<!DOCTYPE html>
<html lang="en-GB">

<head>
	<meta charset="utf-8" />
	<title><%- title %></title>

	<meta name="description" content="INSERT DESCRIPTION">
	<meta name="keywords" content="INSERT KEYWORDS">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="<%- title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%- url %>">
  <meta property="og:description" content="INSERT DESCRIPTION AGAIN">
  <meta property="og:image" content="../assets/images/banner.jpg">

	<link href="./main.css" rel="stylesheet">

  <script src="./scripts.js" defer></script>
</head>
