
<% var mainContent = `<main id="main" class="ls-main-container">
  HERE GOES ALL THE BODY HTML
</main>`
%>



<%
  var pageParams = {
    pageTitle: "TITLE",
    route: "",
    mainContent
  };
%>



<%- include('./partials/layout.ejs', pageParams); %>
